*,
::after,
::before {
  box-sizing: border-box;
}

html {
  color: #ffffff;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

.main {
  width: 370px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.main_pic {
  border-radius: 5px 5px 0 0;
}

.text_block {
  background-color: #283e50;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: normal;
}

.game_description {
  padding: 0px 10px 20px 10px;
  line-height: 1.5;

}

.rules {
  text-decoration: none;
  padding: 20px 0 20px 0;
  background-color: #1fcca4;
  border-bottom: 1.5px solid #283e50;
  color: #ffffff;
}

.rules:hover {
  background-color: #1cbb96;
}

.game_start {
  text-decoration: none;
  padding: 20px 0 20px 0;
  background-color: #0197f6;
  color: #ffffff;
}

.game_start:hover {
  background-color: #0090e9;
}

/* Styles for hra.html*/

.game_content {
  max-width: 80vmin;
  text-align: center;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.player_info {
  display: flex;

}

.player {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-weight: bolder;
  padding-top: 2px;
}

.circle {
  width: 26px;
  border: 3px solid white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: transparent;
  margin: auto;
  margin-left: 8px;
}

.cross {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: transparent;
  margin-left: 8px;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 26px;
  background-color: white;
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.icons {
  display: flex;
}

.house {
  background-color: #1fcca4;
  border: none;
  border-radius: 3px;
  padding: 6px;
  margin: auto;
  margin-right: 7px;

}

.house:hover {

  background-color: #1cbb96;
}

.restart {
  padding: 20px 0 20px 0;
  background-color: #0197f6;
  border: none;
  border-radius: 3px;
  padding: 6px;
  margin: auto;
  margin-right: 5px;
}

.restart.house:hover {
  background-color: #0090e9;
}

.square_field {
  border: 1px solid rgb(14, 14, 14);
  aspect-ratio: 1 / 1;
  margin: 15px 0 20px 0;
}

.square {
  width: 10%;
  float: left;
  border: 1px solid rgb(22, 22, 22);
  background-color: rgb(209, 189, 223);
  opacity: 85%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.square:hover {
  transition: 0.1s;
  background-color: rgb(243, 224, 255);
  opacity: 85%;
}

.square:focus {
  transition: 0.1s;
  background-color: rgb(243, 224, 255);
  opacity: 85%;
}

/* Classes for a cross and a circle */

.board__field--circle,
.board__field--cross {
  position: relative;
  background-color: rgb(209, 189, 223);
}

.board__field--circle::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
  border-radius: 50%;
  background-color: rgb(209, 189, 223);
  border: 4px solid rgb(22, 22, 22);
  transform-origin: center;
  animation: growth 0.15s;
}

.board__field--cross::before,
.board__field--cross::after {
  content: "";
  width: 86%;
  top: 47%;
  left: 7%;
  height: 4px;
  background-color: rgb(22, 22, 22);
  position: absolute;
  animation: growth 0.15s;
}

.board__field--cross::before {
  transform: rotate(45deg);
}

.board__field--cross::after {
  transform: rotate(-45deg);
}

@keyframes growth {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
